main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.course_item div,p {
    padding: 0px 10px;

}

.course_item p {
    max-width: 600px;
   
}

.row-reverse {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
}

.content h1 {
    margin-left: 300px;
}