/*Hero Section*/
.hero {
  background-color: var(--blue-dark);
  width: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0px;
}
.left-box,
.right-box {
  margin: 20px;
}
.left-box {
  background-color: transparent;
  width: 350px;
  flex-grow: 1;
}

.main-text {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}

.hero-text {
  color: #e5e7eb;
  font-size: 18px;
  margin-top: 10px;
}

.img-hero {
  height: 350px;
  width: auto;
  border-radius: 3px;
}

/*Info Section*/
.info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  justify-content: center;
}

.blocks-cont {
  display: flex;
  flex-flow: row wrap;
  margin: 0 100px 0 100px;
  justify-content: space-evenly;
  align-items: center;
}
.blocks-cont div {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 1px 0 rgba(63, 63, 68, 0.05), 0 1px 3px rgba(63, 63, 68, 0.15);
  border-radius: 5px;
  border: 1px solid var(--blue-primary);
  padding: 20px;
  max-width: 250px;
  height: 300px;
  margin: 10px;
}

.blocks-cont img {
  width: 150px;
  margin: 0 auto;
}

/*Quote Section*/
.quote-block {
  margin: 80px 0 80px 0;
}

.quote {
  background-color: #e5e7eb;
  max-width: 800px;
  margin: 0 auto;
  padding: 10px 120px;
  color: var(--blue-dark);
}

.quote-text {
  font-family: Roboto Light;
  font-size: 36px;
  font-style: italic;
}
.author-cont {
  display: flex;
  justify-content: flex-end;
}
.author {
  font-size: 20px;
  font-weight: 600;
}

/*Join us Section*/
.join-us-block {
  display: flex;
  background-color: #3882f6;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
  color: #e5e7eb;
}

.join-us {
  margin: 40px 10px 40px 80px;
  flex: 2;
}

.join-us-heading {
  margin: 0 0 10px 0;
}

.join-us-text {
  margin: 0 20px 0 0;
}

.btn-join-us {
  background-color: transparent;
  padding: 5px 14px;
  border: 2px #1f2937;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 700;
  border: 2px solid #e5e7eb;
  border-radius: 10px;
  margin: 0 30px 0 20px;
  cursor: pointer;
}
