
/*Hero Section*/
.hero {
  background-color: #1f2937;
  width: auto;
  height: 500px;
}

.container {
  display: flex;
  height: 500px;
  width: auto;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.left-box {
  background-color: transparent;
  width: 100px;
  height: 300px;
  flex-grow: 2;
  margin: 0 60px 0 180px;
}

.main-text {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 900;
  margin: 0;
}

.hero-text {
  color: #e5e7eb;
  font-size: 18px;
  margin-top: 10px;
}

.btn-signup {
  background-color: #3882f6;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 700;
  border-radius: 10px;
  border: none;
  height: 38px;
  width: 130px;
  margin-top: 10px;
  cursor: pointer;
}

.right-box {
  margin-left: 60px;
  flex-grow: 1;
}

.img-hero {
  height: 330px;
  width: 580px;
  border-radius: 3px;
}

/*Info Section*/
.info {
  display: flex;
  margin-top: 60px;
  color: #1f2937;
  font-size: 36px;
  font-weight: 900;
  justify-content: center;
}

.blocks {
  display: flex;
  height: 400px;
  width: auto;
  margin: 0 100px 0 100px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.first-block {
  width: 150px;
  height: auto;
  margin: 0 10px 0 10px;
  line-height: 140%;
}

.icon-game {
  width: 150px;
  margin-bottom: 30px;
}

.second-block {
  width: 150px;
  height: auto;
  margin: 0 10px 0 10px;
  line-height: 140%;
}

.icon-band {
  width: 150px;
}

.third-block {
  width: 150px;
  height: auto;
  margin: 0 10px 0 10px;
  line-height: 140%;
}

.icon-crafts {
  width: 150px;
  margin-bottom: 20px;
}

.fourth-block {
  width: 150px;
  height: auto;
  margin: 0 10px 0 10px;
  line-height: 140%;
}

.icon-book {
  width: 150px;
  margin-bottom: 20px;
}

/*Quote Section*/
.quote-block {
  margin: 80px 0 80px 0;
}

.quote {
  display: flex;
  flex-direction: column;
  background-color: #e5e7eb;
  width: 60%;
  height: 350px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.quote-text {
  font-size: 36px;
  font-weight: light italic;
  margin: 80px 120px 15px 120px;
}

.author {
  margin: 0 0 70px 450px;
  font-size: 20px;
  font-weight: 600;
}

/*Join us Section*/
.join-us-block {
  display: flex;
  background-color: #3882f6;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
  color: #e5e7eb;
}

.join-us {
  margin: 40px 10px 40px 80px;
  flex: 2;
}

.join-us-heading {
  margin: 0 0 10px 0;
}

.join-us-text {
  margin: 0 20px 0 0;
}

.btn-join-us {
  background-color: transparent;
  flex: 0.5;
  height: 35%;
  border: 2px #1f2937;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 700;
  border: 2px solid #e5e7eb;
  border-radius: 10px;
  margin: 0 30px 0 20px;
  cursor: pointer;
}
